body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #c7dbd6;
}

.quem-somos{
    background-color: #00e8a6;
}

.margin{
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: 50px;
}

.margin-servicos{
    align-self: center;
}